{% extends "base_template.html" %}

{% block content %}
<div class="row mt-4 mx-1">
    <div class="col-auto">
        <a href="#" class="btn btn-primary"><i class="bi bi-clipboard-plus-fill"></i> Add Task</a>
    </div>
    <div class="col-auto">
        <a href="{% url "add_stage" board.id %}" class="btn btn-dark"><i class="bi bi-node-plus-fill"></i> Add Stage</a>
    </div>
</div>

<div class="kanban-board mt-2" id="kanban-board">
    {% for stage in board.stage_set.all %}
        <div class="column" id="{{stage.id}}" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h3>{% if stage.name|length <= 12 %}{{stage.name}}{% else %}{{stage.name|slice:":9"}}...{% endif %}</h3>
            {% for task in stage.task_set.all %}
            <div class="task" draggable="true" id="{{task.id}}" ondragstart="drag(event);">
                <div>{{task.name}}</div>
                <a class="btn btn-sm btn-dark" href="https://www.google.com">Click me</a>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% comment %} {% include "content_sample.html" %} {% endcomment %}
{% endblock content %}